mixin body-src()
	//- Browser update screen
	if config.modules.ieMessage
		+ie-out({theme: 'light', lang: config.site.lang, version: 8})

	//- Body javascript
	if config.modules.bodyJs
		script(src="static/js/body.min.js")

	//- Google analytics code
	if config.modules.googleAnalytics
		+google-analytics()
