extends ../layouts/base

block variables
	- pageTitle = 'Home'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	header.page-header
		.page-header__inner
			h1.logo.page-header__logo
				| My Charity
				span Making more todays
			nav.nav.page-header__nav
				a.page-header__nav-link.page-header__nav-link_selected Home
				a.page-header__nav-link(href='#') About Us
				a.page-header__nav-link(href='#') Projects
				a.page-header__nav-link(href='#') Blog
				a.page-header__nav-link(href='#') Events
				a.page-header__nav-link(href='#') Gallery
				a.page-header__nav-link(href='#') Contact Us

	section.promo
		.promo__inner
			h1.promo__title Welcome to my charity
			h2.promo__slogan Lorem Ipsum is simply dummy text of the printing and typesetting.
			a.promo__button(href='#') Donate now

	section.services
		.services__goals
			h1.logo.services__logo
				| My Charity
				span Making more todays

		.services__donate
			a.services__title(href='#') Donate Now!
			p.services__text Lorem Ipsum is simply dummy text.

		.services__news
			.services__subscribe
				h1.services__title Sign up to newsletter
				form.subscribe-form(action='#', method='post')
					input#email__subscribe(type='text', name='email', value='Enter your email')
					label(for='#email__subscribe')
					input(type='submit', value='Subscribe')
				p.services__text
					| Lorem Ipsum is simply dummy text of the printing and typeset
					| ing ustry. Lorem Ipsum has been the industry's standard dummy text

		.services__soc: a.services__icon(href='#') Like Now!

	section.events
		h1.events__title Our Events
		.events__inner
			.event
				h2.event__date
					span 18
					| October
				h3.event__title Lorem Ipsum is simply
				p.event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged
				a.event__button(href='#') More

			.event
				h2.event__date
					span 22
					| October
				h3.event__title Lorem Ipsum is simply
				p.event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged
				a.event__button(href='#') More

			.event
				h2.event__date
					span 28
					| October
				h3.event__title Lorem Ipsum is simply
				p.event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged
				a.event__button(href='#') More

	footer.page-footer
		.page-footer__inner
			nav.nav.page-footer__nav
				a.page-footer__nav-link.page-footer__nav-link_selected Home
				a.page-footer__nav-link(href='#') About Us
				a.page-footer__nav-link(href='#') Projects
				a.page-footer__nav-link(href='#') Blog
				a.page-footer__nav-link(href='#') Events
				a.page-footer__nav-link(href='#') Gallery
				a.page-footer__nav-link(href='#') Contact Us

			.widgets
				.widget.widget_social
					h3.widget__title Follow Us
					a.widget__icon.widget__icon_fb(href='#') Facebook
					a.widget__icon.widget__icon_tw(href='#') Twitter
					a.widget__icon.widget__icon_gplus(href='#') Google+

				.widget.widget_feed
					h3.widget__title News letter
					form.subscribe-form(action='#', method='post')
						input#email-subscribe(type='text', name='email', value='Enter your email')
						label(for='#email-subscribe')
						input(type='submit', value='Subscribe')

				.widget.widget_contact
					h3.widget__title Contact Us
					p.widget__text Adress
					p.widget__text New Street
					p.widget__text ph :xxxxx-xxx-xxx

			.copyright
				| My Charity © 2013 Allright Reserved
				br
				| Designed by cssauthor.com | Coded by orlovmax.com
