////////////////////////////////////////
// Common styles
////////////////////////////////////////

////////////////////////////////////////Variables
// Colors
$c-selection_text = $c-dark
$c-selection_bg = $c-light

//////////////////////////////////////// Mixins and functions


//////////////////////////////////////// Styles

*::selection
	background $c-selection_bg
	color $c-selection_text

*::-moz-selection
	background $c-selection_bg
	color $c-selection_text


body
	font-family "Roboto Slab", serif

h1
	font-size 50px
	font-weight lighter

	@media screen and ( max-width:768px )
		font-size 40px

h2
	font-size 24px
	font-weight lighter

	@media screen and ( max-width: 768px )
		font-size 20px

h3
	font-size 18px
	font-weight lighter

	@media screen and ( max-width: 768px )
		font-size 16px

p
	font-size 14px

a
	text-decoration none

	&:hover
		text-decoration underline
