////////////////////////////////////////
/// COLORS
////////////////////////////////////////

// Common colors
$dark-color = #373838;
$light-color = #fff;
$selection-color = #9b242d;
$base-font = "Roboto Slab", serif;



////////////////////////////////////////
/// FONTS
////////////////////////////////////////

// Common fonts
$f-serif = "Roboto Slab", serif;



////////////////////////////////////////
/// MAPS
////////////////////////////////////////



////////////////////////////////////////
/// BASE64 BACKGROUNDS
////////////////////////////////////////

