////////////////////////////////////////
// Project variables
////////////////////////////////////////

//////////////////////////////////////// Colors

// Common colors
$c-dark = #373838;
$c-light = #fff;
$c-accent = #9b242d;


//////////////////////////////////////// Fonts

// Common fonts
$f-serif = "Roboto Slab", serif;


//////////////////////////////////////// Maps


//////////////////////////////////////// Base64 assets
