////////////////////////////////////////
// $Copyright
////////////////////////////////////////

//////////////////////////////////////// Block variables

// Colors
$c-copyright_text = #606060


//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".copyright"

{$block}
	text-align center
	font-size 15px
	line-height 22px
	color $c-copyright_text
