////////////////////////////////////////
// $Events section
////////////////////////////////////////

//////////////////////////////////////// Block variables

// Colors
$c-events_bg = $c-light


//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".events"

{$block}
	width 100%
	padding 90px 0 145px
	background-color $c-events_bg
	text-align center

	@media screen and ( max-width: 768px )
		padding 40px 0 60px

	@media screen and ( max-width: 640px )
		padding 20px 0 30px


	// $Events section inner container
	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()

		@media screen and ( max-width: 960px )
			padding 0 10px


	// $Events section title
	&__title
		color $c-dark
		margin-bottom 65px

		@media screen and ( max-width: 768px )
			margin 0 0 35px
