// $Events section
$block = ".events"

{$block}
	width 100%
	padding 90px 0 145px
	background-color $light-color
	text-align center

	@media screen and ( max-width: 768px )
		padding 40px 0 60px

	@media screen and ( max-width: 640px )
		padding 20px 0 30px

	&__title
		color $dark-color
		margin-bottom 65px

		@media screen and ( max-width: 768px )
			margin 0 0 35px
