////////////////////////////////////////
// $Logo
////////////////////////////////////////

//////////////////////////////////////// Block variables

//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".logo"

{$block}
	background url("../images/logo.png") 0 0 no-repeat
	background-size cover
	font-size 0
	overflow hidden
	text-indent 999px

	& span
		display block
		font-size 0
		text-indent 999px
