////////////////////////////////////////
// $Navigation
////////////////////////////////////////

//////////////////////////////////////// Block variables

//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".nav"

{$block}
	font-size 14px
	line-height 50px

	& a
		display inline-block
		padding 0 10px
