////////////////////////////////////////
// $Page footer
////////////////////////////////////////

//////////////////////////////////////// Block variables

// Colors
$c-page-footer_bg = $c-dark
$c-page-footer_nav-link_text = #606060
$c-page-footer_nav-link_selected_text = #fff


//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".page-footer"

{$block}
	width 100%
	padding 60px 0 40px
	background-color $c-page-footer_bg

	@media screen and ( max-width: 640px )
		padding 20px 0 20px


	// $Page footer inner container
	&__inner
		max-width 1024px
		margin 0 auto
		clearfix()

		@media screen and ( max-width: 960px )
			padding 0 10px


	// $Page footer navigation
	&__nav
		margin 0 auto
		text-align center


	// $Page footer navigation link
	&__nav-link
		color $c-page-footer_nav-link_text
		transition all .3s

		&:hover
			text-decoration underline

		// $Page footer navigation link MOD: selected
		&_selected
			color $c-page-footer_nav-link_selected_text
			text-decoration none
