// $Widgets block
$block = ".widgets"

{$block}
	margin 55px 0 35px
	text-align center
	border-top 1px solid #939393
	border-bottom 1px solid #939393
	padding 45px 0
	clearfix()

	@media screen and ( max-width: 640px )
		padding 15px 0
		margin 20px 0
