////////////////////////////////////////
// $Widgets block
////////////////////////////////////////

//////////////////////////////////////// Block variables

// Colors
$c-widgets_bd = #939393

//////////////////////////////////////// Block mixins and functions

//////////////////////////////////////// Block styles
$block = ".widgets"

{$block}
	margin 55px 0 35px
	text-align center
	border-top 1px solid $c-widgets_bd
	border-bottom 1px solid $c-widgets_bd
	padding 45px 0
	clearfix()

	@media screen and ( max-width: 640px )
		padding 15px 0
		margin 20px 0
