/* =========================================================
   Reset css by http://meyerweb.com/eric/tools/css/reset/ 
   ========================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input[type=submit] {
  cursor: pointer;
}
/* =========================================================
   orlovmax.com less elements library v1.0
   ===================================
   More info at http://orlovmax.com/lab/lesselements
   ========================================================= */
.hidentext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-contain {
  -webkit-background-size: contain;
  background-size: contain;
}
/* =========================================================
   Fluid grid system for less css
   ========================================================= */
/* Clearfix hack */
.clear {
  clear: both;
}
.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
/*column mixin: there are four variables, column count for current element, total column count in row, horizontal gutter and vertical gutter
By default it sets to 1 column of 12 total columns without gutters. Note, that gutter sets in percents, not pixels.*/
/*row-column - column with clearfix, that allows to move it to the new line. Useful for nested grids. Has the same variables as column and in the same order*/
/*offset mixin allows to push column left or right on some distance. Expected settings: distance-column count to move on, total column count in row, horizontal gutter like in other columns. 
By default	it sets to 1 column of 12 total columns without gutters. Gutter units - percents*/
/* =========================================================
   Less mixins and vars
   ========================================================= */
/* =========================================================
   Reusable styles
   ========================================================= */
.container {
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
}
.container:before,
.container:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
h1 {
  font-size: 50px;
  font-weight: lighter;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
}
h3 {
  font-size: 18px;
  font-weight: lighter;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
a:not(.hdr_selected):not(.ftr_selected):hover {
  text-decoration: underline;
}
nav {
  font-size: 14px;
  line-height: 50px;
}
nav a {
  padding: 12px 10px;
  white-space: nowrap;
}
.subscribe-form {
  display: inline-block;
  width: 100%;
  max-width: 400px;
}
.subscribe-form input[type=text] {
  width: 68%;
  padding: 0 10px;
  border: none;
  font-size: 16px;
}
.subscribe-form input[type=submit] {
  width: 32%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: -5px;
}
/* =========================================================
   Custom styles
   ========================================================= */
body {
  font-family: "Roboto Slab", serif;
}
header {
  width: 100%;
  min-height: 115px;
  padding: 35px 0;
  background-color: #ffffff;
}
.logo {
  background: url("../img/logo.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.logo span {
  display: block;
  font-size: 14px;
}
.hdr_logo {
  float: left;
  width: 212px;
  height: 45px;
  color: #373838;
}
.hdr_nav {
  float: right;
  text-align: right;
}
.hdr_nav-link {
  color: #373838;
  text-transform: uppercase;
}
.hdr_selected {
  color: #fff;
  background-color: #9b242d;
}
.promo {
  width: 100%;
  min-height: 600px;
  padding: 225px 0 175px;
  background: #af6967 url("../img/promo-bg.jpg") 0 0 no-repeat fixed;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.promo_title {
  text-transform: uppercase;
  color: #ffffff;
}
.promo_slogan {
  margin-top: 15px;
  line-height: 1.2;
  color: #ffffff;
}
.donate-button {
  display: block;
  width: 270px;
  height: 56px;
  margin: 45px auto 0;
  color: #46a651;
  font-size: 26px;
  font-weight: bold;
  line-height: 56px;
  -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, bottom, from(#f0f0f0), to(#ffffff));
  background: -webkit-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -moz-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -ms-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -o-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: linear-gradient(bottom, #f0f0f0, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f0, endColorstr=#ffffff);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.donate-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.services {
  width: 100%;
  clear: both;
}
.services:before,
.services:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.services_title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
.services_text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.services_goals {
  width: 64%;
  height: 320px;
  background: #f1efec url("../img/info-bg.jpg") right center no-repeat;
  -webkit-background-size: 36% 100%;
  background-size: 36% 100%;
  float: left;
  text-align: right;
  padding: 135px 0;
}
.goals_logo {
  display: inline-block;
  width: 280px;
  height: 60px;
  margin-right: 40%;
}
.services_donate {
  width: 36%;
  height: 320px;
  background: #9b242d;
  float: right;
  padding: 135px 0 0 40px;
}
.services_donate:hover {
  background: #721a21;
}
.services_news {
  width: 64%;
  height: 640px;
  padding: 65px 80px 0 0;
  background: #46a651 url("../img/news-bg.jpg") left bottom no-repeat;
  -webkit-background-size: 100% 50%;
  background-size: 100% 50%;
  float: left;
}
.news_subscribe {
  max-width: 540px;
  float: right;
  text-align: right;
}
.news_subscribe .subscribe-form {
  margin: 20px 0 15px 0;
}
.news_subscribe input[type=text] {
  height: 45px;
  background-color: #5ec069;
  color: #46a651;
}
.news_subscribe input[type=submit] {
  height: 45px;
  background-color: #348e3e;
  color: #ffffff;
}
.news_subscribe input[type=submit]:hover {
  background-color: #26692e;
}
.services_soc {
  position: relative;
  width: 36%;
  height: 640px;
  background: #ffffff url("../img/like-bg.jpg") center bottom no-repeat;
  -webkit-background-size: 100% 50%;
  background-size: cover;
  float: right;
}
.soc_fb {
  display: block;
  position: absolute;
  bottom: 0;
  width: 72%;
  max-width: 320px;
  height: 320px;
  padding-top: 120px;
  background: #3b5997;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}
.soc_fb:hover {
  background: #2d4372;
}
.soc_fb:before {
  content: "";
  display: block;
  width: 35px;
  height: 74px;
  background: url("../img/fb-logo.png") 0 0 no-repeat;
  margin: 0 auto 30px;
}
.events {
  width: 100%;
  padding: 90px 0 145px;
  background-color: #ffffff;
  text-align: center;
}
.events_title {
  color: #373838;
  margin-bottom: 65px;
}
.event {
  float: left;
  width: 25.333333333333336%;
  margin: 0% 4%;
}
.event span:after {
  display: block;
  position: absolute;
  content: "";
  bottom: -14px;
  left: 50%;
  margin-left: -15px;
  border-top: 15px solid #373838;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.event:hover .event_date span {
  background-color: #9b242d;
}
.event:hover .event_date span:after {
  border-top-color: #9b242d;
}
.event_date {
  font-size: 30px;
  color: #9b242d;
}
.event_date span {
  display: block;
  position: relative;
  width: 88px;
  height: 88px;
  margin: 0 auto 30px;
  padding: 29px 0;
  background-color: #373838;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}
.event_title {
  font-size: 18px;
  margin: 30px 0 15px;
}
.event_text {
  line-height: 22px;
}
.more-button {
  display: inline-block;
  width: 85px;
  height: 35px;
  margin: 30px 0 0;
  padding: 10px 0 0;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #373838;
  color: #ffffff;
}
.more-button:hover {
  background-color: #9b242d;
}
footer {
  width: 100%;
  padding: 60px 0 40px;
  background-color: #373838;
}
.ftr_nav {
  margin: 0 auto;
  text-align: center;
}
.ftr_nav-link {
  color: #606060;
}
.ftr_selected {
  color: #fff;
}
.ftr_selected:hover {
  text-decoration: none;
}
.widgets {
  margin: 55px 0 35px;
  text-align: center;
  border-top: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding: 45px 0;
  clear: both;
}
.widgets:before,
.widgets:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.widget_title {
  color: #c6c6c6;
  margin: 0 0 15px 0;
}
.widget_text {
  color: #606060;
  line-height: 16px;
}
.widget_social {
  text-align: left;
  float: left;
  width: 28.571428571428573%;
}
.soc-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  background: url("../img/soc-icon-sprite.png") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.soc-icon.fb {
  background-position: 0 0;
}
.soc-icon.tw {
  background-position: -41px 0;
}
.soc-icon.gplus {
  background-position: -82px 0;
}
.soc-icon:hover {
  -webkit-opacity: 0.6;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.widget_feed {
  text-align: left;
  float: left;
  width: 42.85714285714286%;
}
.widget_feed input[type=text] {
  height: 40px;
  background-color: #494949;
  color: #606060;
}
.widget_feed input[type=submit] {
  height: 40px;
  background-color: #9b242d;
  color: #ffffff;
}
.widget_feed input[type=submit]:hover {
  background-color: #721a21;
}
.widget_contact {
  text-align: right;
  float: left;
  width: 28.571428571428573%;
}
.copyright {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #606060;
}
/* =========================================================
   Media queries
   ========================================================= */
@media (max-width: 960px) {
  .container {
    padding: 0 10px;
  }
  .hdr_logo {
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  .hdr_nav {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .promo {
    min-height: 400px;
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  .services_title {
    font-size: 25px;
  }
  .services_text {
    font-size: 14px;
    line-height: 20px;
  }
  .services_goals {
    height: 220px;
    background: #f1efec;
    padding: 80px 0;
  }
  .goals_logo {
    width: 210px;
    height: 44px;
    margin-right: 30px;
  }
  .services_donate {
    height: 220px;
    background: #9b242d;
    padding: 80px 0 0 30px;
  }
  .services_news {
    height: 220px;
    padding: 20px 30px 0 10px;
    background: #46a651;
  }
  .news_subscribe .subscribe-form {
    margin: 10px 0 0;
  }
  .services_soc {
    height: 220px;
    background: #fff;
  }
  .soc_fb {
    width: 100%;
    max-width: 100%;
    height: 220px;
    padding-top: 30px;
  }
  .events {
    padding: 40px 0 60px;
  }
  .events_title {
    margin: 0 0 35px;
  }
  .event_title {
    margin: 15px 0 0;
  }
  .mail-feed {
    text-align: right;
  }
  .contacts {
    text-align: center;
  }
}
@media (max-width: 640px) {
  footer {
    padding: 20px 0 20px;
  }
  .events {
    padding: 20px 0 30px;
  }
  .event_text {
    display: none;
  }
  .widgets {
    padding: 15px 0;
    margin: 20px 0;
  }
  .widget_social {
    float: left;
    width: 40%;
    padding: 10px 0;
  }
  .widget_feed {
    float: left;
    width: 60%;
    padding: 10px 0;
  }
  .widget_contact {
    width: 100%;
    float: none;
    padding: 10px 0;
    text-align: center;
    clear: both;
  }
  .widget_contact:before,
  .widget_contact:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
}
@media (max-width: 480px) {
  .widget_social {
    width: 100%;
    float: none;
    text-align: center;
    clear: both;
  }
  .widget_social:before,
  .widget_social:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
  .widget_feed {
    width: 100%;
    float: none;
    text-align: center;
    clear: both;
  }
  .widget_feed:before,
  .widget_feed:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
}
